@font-face {
    font-family: 'Vazir';
    src: url('./Fonts/Vazir.woff2') format('woff2'),
        url('./Fonts/Vazir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    list-style-type: none;
}

:root {
    --color-black1: #111827;
    --color-black2: #242a38;
    --color-black3: #ffffff0d;
    --color-black4: #111827;
    --color-black5: #4A4B6D;
    --color-black6: #555555;
    --color-white1: #ffffff;
    --color-green1: #22c55e;
    --color-green2: #16a34a;
    --color-gray1: #9CA3AF;
    --color-yellow1: #fbbf24;
    --color-yellow2: #F59E0B;
    --color-gray2: #64748b;
    --color-gray3: rgba(255, 255, 255, 0.5);
    --color-blue1: #0ea5e9;
    --color-blue2: #0284c7;
}

.color-gray3 {
    color: var(--color-gray3);
}

.color-white1 {
    color: var(--color-white1) !important;
}

.color-green1 {
    color: var(--color-green1) !important;
}

.color-gray1 {
    color: var(--color-gray1) !important;
}

.color-gray2 {
    color: var(--color-gray2) !important;
}

.color-yellow2 {
    color: var(--color-yellow2) !important;
}

.bg-white1 {
    background-color: var(--color-white1) !important;
}

.bg-green1 {
    background-color: var(--color-green1) !important;
}

.bg-blue1 {
    background-color: var(--color-blue1) !important;
}

.bg-yellow1 {
    background-color: var(--color-yellow1) !important;
}

.bg-black1 {
    background-color: var(--color-black1) !important;
}

.bg-black2 {
    background-color: var(--color-black2) !important;
}

.bg-black3 {
    background-color: var(--color-black3) !important;
}

.bg-black4 {
    background-color: var(--color-black4) !important;
}

a:link,
a:visited,
a:active,
a:focus {
    color: inherit !important;
    text-decoration: none !important;
}

.transition {
    transition: all ease 0.3s !important;
}

.transition2 {
    transition: all ease 0.1s !important;
}

.resize-none {
    resize: none !important;
}

.pointer {
    cursor: pointer !important;
}