@font-face {
    font-family: 'Vazir';
    src: url('./Fonts/Vazir.woff2') format('woff2'),
        url('./Fonts/Vazir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    list-style-type: none;
}

:root {
    --color-black1: #111827;
    --color-black2: #242a38;
    --color-black3: #ffffff0d;
    --color-black4: #111827;
    --color-black5: #4A4B6D;
    --color-black6: #555555;
    --color-black7: #1c1c28;
    --color-white1: #ffffff;
    --color-white2: #fff3;
    --color-green1: #22c55e;
    --color-green2: #16a34a;
    --color-green3: #22c55e33;
    --color-green4: #2ed573;
    --color-gray1: #9CA3AF;
    --color-red1: #ef4444;
    --color-red2: #ef444433;
    --color-red3: rgba(239, 68, 68, 0.85);
    --color-red4: #f43f5e;
    --color-yellow1: #fbbf24;
    --color-yellow2: #F59E0B;
    --color-yellow3: #fbbf2433;
    --color-yellow4: #facc15;
    --color-yellow5: #facc151a;
    --color-gray2: #64748b;
    --color-gray3: #ffffff80;
    --color-gray4: #333c4c;
    --color-gray5: #28293d;
    --color-gray6: #32334d;
    --color-gray7: #94a3b8;
    --color-gray8: #d5d1db;
    --color-gray9: #ffffff1a;
    --color-blue1: #0ea5e9;
    --color-blue2: #0284c7;
    --color-blue3: #0284c733;
    --color-blue4: #0ea5e91a;
    --color-blue5: #4e81fb;
    --color-blue6: #4e81fb1a;
    --color-orange1: #ff6600;
    --gradient1: #f2295b;
    --gradient2: #ffb535;
    --gradient3: #28e55d;
    --gradient4: #30c5e4;
    --gradient5: #9c33f7;
    --gradient6: #2e9eff;
    --gradient7: #880175;
    --gradient8: #ff3571;
}

.fill-white1 * {
    fill: var(--color-white1) !important;
}

.fill-green1 * {
    fill: var(--color-green1) !important;
}

.color-blue1 {
    color: var(--color-blue1) !important;
}

.color-blue5 {
    color: var(--color-blue5) !important;
}

.color-orange1 {
    color: var(--color-orange1) !important;
}

.color-red1 {
    color: var(--color-red1) !important;
}

.color-gray3 {
    color: var(--color-gray3) !important;
}

.color-white1 {
    color: var(--color-white1) !important;
}

.color-green1 {
    color: var(--color-green1) !important;
}

.color-gray1 {
    color: var(--color-gray1) !important;
}

.color-gray2 {
    color: var(--color-gray2) !important;
}

.color-gray7 {
    color: var(--color-gray7) !important;
}

.color-gray8 {
    color: var(--color-gray8) !important;
}

.color-yellow1 {
    color: var(--color-yellow1) !important;
}

.color-yellow2 {
    color: var(--color-yellow2) !important;
}

.color-yellow4 {
    color: var(--color-yellow4) !important;
}

.bg-white1 {
    background-color: var(--color-white1) !important;
}

.bg-white2 {
    background-color: var(--color-white2) !important;
}

.bg-gray1 {
    background-color: var(--color-gray1) !important;
}

.bg-gray2 {
    background-color: var(--color-gray2) !important;
}

.bg-gray3 {
    background-color: var(--color-gray3) !important;
}

.bg-gray4 {
    background-color: var(--color-gray4) !important;
}

.bg-gray5 {
    background-color: var(--color-gray5) !important;
}

.bg-gray6 {
    background-color: var(--color-gray6) !important;
}

.bg-gray9 {
    background-color: var(--color-gray9) !important;
}

.bg-green1 {
    background-color: var(--color-green1) !important;
}

.bg-green2 {
    background-color: var(--color-green2) !important;
}

.bg-green3 {
    background-color: var(--color-green3) !important;
}

.bg-green4 {
    background-color: var(--color-green4) !important;
}

.bg-blue1 {
    background-color: var(--color-blue1) !important;
}

.bg-blue3 {
    background-color: var(--color-blue3) !important;
}

.bg-blue4 {
    background-color: var(--color-blue4) !important;
}

.bg-blue5 {
    background-color: var(--color-blue5) !important;
}

.bg-blue6 {
    background-color: var(--color-blue6) !important;
}

.bg-red1 {
    background-color: var(--color-red1) !important;
}

.bg-red2 {
    background-color: var(--color-red2) !important;
}

.bg-red4 {
    background-color: var(--color-red4) !important;
}

.bg-yellow1 {
    background-color: var(--color-yellow1) !important;
}

.bg-yellow2 {
    background-color: var(--color-yellow2) !important;
}

.bg-yellow3 {
    background-color: var(--color-yellow3) !important;
}

.bg-yellow4 {
    background-color: var(--color-yellow4) !important;
}

.bg-yellow5 {
    background-color: var(--color-yellow5) !important;
}

.bg-black1 {
    background-color: var(--color-black1) !important;
}

.bg-black2 {
    background-color: var(--color-black2) !important;
}

.bg-black3 {
    background-color: var(--color-black3) !important;
}

.bg-black4 {
    background-color: var(--color-black4) !important;
}

.bg-black5 {
    background-color: var(--color-black5) !important;
}

.bg-black7 {
    background-color: var(--color-black7) !important;
}

.border-green1 {
    border: 1px solid var(--color-green1) !important;
}

a:link,
a:visited,
a:active,
a:focus {
    color: inherit;
    text-decoration: none !important;
}

.transition {
    transition: all ease 0.3s !important;
}

.transition2 {
    transition: all ease 0.1s !important;
}

.resize-none {
    resize: none !important;
}

.pointer {
    cursor: pointer !important;
}

.cursor-initial {
    cursor: initial !important;
}

.cursor-text {
    cursor: text !important;
    user-select: text;
}

.linear-gradient1 {
    background-image: linear-gradient(to right, var(--gradient2), var(--gradient1)) !important;
}

.linear-gradient2 {
    background-image: linear-gradient(to right, var(--gradient4), var(--gradient3)) !important;
}

.linear-gradient3 {
    background-image: linear-gradient(to right, var(--gradient6), var(--gradient5)) !important;
}

.linear-gradient4 {
    background-image: linear-gradient(to right, var(--gradient8), var(--gradient7)) !important;
}

.list-style-disc li {
    list-style-type: disc !important;
}

.list-style-disc li::marker {
    color: var(--color-blue1) !important;
}

.no-scroll {
    overflow: hidden !important;
}

.cursor-not-allowed {
    cursor: not-allowed !important;
}

.min-w-150px {
    min-width: 150px !important;
}

.max-w-550px {
    max-width: 550px !important;
}