@media only screen and (max-width: 1400px) {
    .recent-courses-width {
        width: 100% !important;
    }

    .my-courses-width {
        width: calc(34% - 16px) !important;
    }
}

@media only screen and (max-width: 1366px) {
    .fs-14px {
        font-size: 14px !important;
    }

    .responsive-hero-img {
        width: 590px !important;
        height: 380px !important;
    }
}

@media only screen and (max-width: 1199.5px) {
    .responsive-hero-img2 {
        width: 500px !important;
        height: 300px !important;
    }

    .owl-nav {
        padding-left: 1rem !important;
    }

    .recent-courses-width {
        width: calc(50% - 10px) !important;
    }

    .my-courses-width {
        width: calc(50% - 10px) !important;
    }
}

@media only screen and (max-width: 992px) {
    .responsive-hero-img3 {
        width: 100% !important;
        height: 450px !important;
    }

    .success-custom-alert,
    .error-custom-alert {
        top: 10% !important;
        transform: translate(-50%, -50%);
    }

    .active-custom-alert {
        left: 50% !important;
    }
}

@media only screen and (max-width: 991.5px) {
    .help-icon-pos {
        width: 94px !important;
        height: 52px !important;
    }

    .help-icon-pos svg {
        top: 100% !important;
        left: 50% !important;
    }

    .position-lg-fixed {
        position: fixed !important;
    }

    .radius-none {
        border-radius: 0 !important;
    }

    .account-aside-navbar {
        background-color: var(--color-gray5) !important;
    }

    .recent-courses-width {
        width: 100% !important;
    }

    .bg-black2-lg {
        background-color: var(--color-black2) !important;
    }
}

@media only screen and (max-width: 767.5px) {
    .account-home-img {
        width: 150px !important;
    }

    .recent-courses-width {
        width: calc(50% - 10px) !important;
    }

    .account-details-user-profile-picture {
        width: 130px !important;
        height: 130px !important;
    }

    .account-details-input-box,
    .register-info-btn,
    .change-password-btn {
        width: 100% !important;
    }

    .empty-cart-message {
        font-size: 16px !important;
    }

    .w-33 {
        width: 100% !important;
    }

    .cart-box {
        left: -65px !important;
    }
}

@media only screen and (max-width: 575.5px) {
    .responsive-hero-img4 {
        width: 100% !important;
        height: 300px !important;
    }

    .fs-14px-2 {
        font-size: 15.5px !important;
    }

    .owl-nav {
        padding-left: 0 !important;
        top: auto !important;
        right: 0 !important;
        left: 0 !important;
        bottom: -10% !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .owl-prev {
        margin-left: 40px !important;
    }

    .text-fs-13px-md {
        font-size: 13px !important;
    }

    .quick-access-links p {
        font-size: 18px !important;
    }

    .quick-access-links a {
        font-size: 14px !important;
    }

    .sabzlearn-footer-logo {
        width: 50px !important;
        height: 30px !important;
    }

    .sabzlearn-footer-logo2 {
        width: 80px !important;
        height: 40px !important;
    }

    .text-fs-18px {
        font-size: 16px !important;
    }

    .main-box {
        width: 290px !important;
    }

    .main-box div:last-of-type a {
        font-size: 14px !important;
    }

    .w-h-sm-48px {
        width: 48px !important;
        height: 48px !important;
    }

    .account-notif-box {
        width: 300px !important;
        left: -123.5px !important;
    }

    .my-courses-width,
    .see-courses-link,
    .recent-courses-width {
        width: 100% !important;
    }

    .add-course-to-cart-btn {
        width: calc(100% - 20px) !important;
    }

    .course-episode-container {
        font-size: 14px !important; 
    }
}

@media only screen and (max-width: 450px) {
    .account-aside-navbar {
        width: 75% !important;
    }

    .w-280px {
        width: 280px !important;
    }

    .account-logout-modal {
        width: 300px !important;
    }

    .account-detail-box,
    .account-recent-seen-courses-box,
    .recent-courses-box,
    .recent-tickets-box,
    .recent-questions-box,
    .my-courses-detail-box,
    .my-courses-box,
    .all-tickets-box {
        width: 100% !important;
    }

    .text-fs-sm-14px {
        font-size: 14px !important;
    }

    .cart-box {
        width: 350px !important;
    }
}

@media only screen and (max-width: 375px) {
    .cart-box {
        width: 295px !important;
    }
}