/* global */

@import url(./app.css);

body {
    font-family: 'Vazir', sans-serif !important;
    scroll-behavior: smooth !important;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

.lesson-topic-container::-webkit-scrollbar {
    width: 0.4em;
}

.lesson-topic-container::-webkit-scrollbar-thumb {
    background-color: var(--color-gray4) !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

textarea::-webkit-scrollbar {
    width: 0.7em;
}

textarea::-webkit-scrollbar-thumb {
    cursor: auto !important;
}

body::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
    background-color: var(--color-black5) !important;
}

body::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
    background-color: var(--color-black2) !important;
}

body::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-black6) !important;
}

.text-fs-14px {
    font-size: 14px !important;
}

.text-fs-13px {
    font-size: 13px !important;
}

.text-fs-12px {
    font-size: 12px !important;
}

.text-fs-18px {
    font-size: 18px !important;
}

.text-fs-20px {
    font-size: 20px !important;
}

.opacity-70 {
    opacity: 0.7 !important;
}

.line-clamp-4 {
    -webkit-line-clamp: 4 !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.line-clamp-3 {
    -webkit-line-clamp: 3 !important;
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
}

.line-clamp-2 {
    -webkit-line-clamp: 2 !important;
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
}

.line-clamp-1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.radius-2px {
    border-radius: 2px !important;
}

.h-52px {
    height: 52px !important;
}

.h-94px {
    height: 94px !important;
}

.owl-stage {
    display: flex !important;
}

.w-150px {
    width: 150px !important;
}

.w-h-60px {
    width: 60px !important;
    height: 60px !important;
}

/* loading */

.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {
    box-sizing: border-box;
}

.lds-spinner {
    color: var(--color-white1) !important;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 10.2px;
    left: 36.8px;
    width: 4.4px;
    height: 12.6px;
    border-radius: 20%;
    background: currentColor;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.loading-overlay {
    background-color: var(--color-black2) !important;
    z-index: 60 !important;
    display: flex;
}

/* header */

.sub-menu {
    visibility: hidden;
    opacity: 0;
    width: 250px;
}

.sub-menu ul {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px !important;
}

.navbar-links:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    z-index: 20;
}

.navbar-links:hover,
.sub-menu-links:hover {
    color: var(--color-green1) !important;
}

.sub-menu-links a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-input::placeholder {
    color: var(--color-gray1) !important;
}

.search-input {
    font-size: 14px !important;
}

.search-icon {
    top: 30% !important;
    left: 8% !important;
}

.w-52px {
    width: 52px !important;
}

.login-signup-link:hover,
.start-learning-link:hover {
    background-color: var(--color-blue2) !important;
}

.side-navbar {
    right: -100% !important;
    z-index: 10 !important;
}

.overlay,
.bottom-sheet-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9 !important;
    display: none;
}

.open-side-navbar {
    right: 0 !important;
}

.active-overlay {
    display: block !important;
}

.deg180 {
    transform: rotate(180deg) !important;
}

.deg90 {
    transform: rotate(90deg) !important;
}

.deg0 {
    transform: rotate(0) !important;
}

.side-navbar-sub-menu {
    display: none;
}

.active-side-navbar-links {
    color: var(--color-green1) !important;
}

.blur-overlay {
    background-color: #0000004d !important;
    backdrop-filter: blur(10px) !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.active-blur-overlay {
    visibility: visible !important;
    opacity: 1 !important;
}

.cart-box {
    top: 140% !important;
    left: 0 !important;
    width: 400px !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.active-cart-box {
    visibility: visible !important;
    opacity: 1 !important;
}

.z-index-50 {
    z-index: 50 !important;
}

.user-profile-box-overlay {
    background-color: #0000004d !important;
    backdrop-filter: blur(10px) !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.user-profile-box {
    top: 120% !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.active-user-profile-box-overlay,
.active-user-profile-box {
    visibility: visible !important;
    opacity: 1 !important;
}

.disabled-elem {
    display: none !important;
}

.w-300px {
    width: 300px !important;
}

.user-profile-box-links:hover,
.account-links:hover {
    background-color: var(--color-green1) !important;
}

.see-cart-link:hover:hover,
.add-course-to-cart-btn:hover,
.see-more-course-info-btn:hover {
    background-color: var(--color-green2) !important;
}

.user-profile-box-logout-btn:hover,
.account-logout-btn:hover,
.account-user-profile-box-logout-btn:hover {
    background-color: var(--color-red1) !important;
}

/* main */

/* section-1 (website-title) */

.play-btn:hover {
    background-color: var(--color-green2) !important;
}

/* section-2 (last-courses) */

.last-courses-link:hover {
    background-color: var(--color-green1) !important;
}

.last-courses-link:hover>* {
    color: var(--color-white1) !important;
}

.teacher-links:hover>* {
    color: var(--color-green1) !important;
}

/* section-3 (roadmaps) */

/* section-4 (popular-courses) */

.owl-nav {
    position: absolute !important;
    top: -25% !important;
    left: 0 !important;
}

.owl-next,
.owl-prev {
    width: 52px !important;
    height: 52px !important;
    background-color: var(--color-black1) !important;
    border-radius: 50% !important;
    color: var(--color-green1) !important;
    border: 1px solid var(--color-green1) !important;
    transition: all ease 0.3s !important;
}

.owl-prev {
    margin-left: 20px !important;
}

.owl-next:hover,
.owl-prev:hover {
    background-color: var(--color-green1) !important;
    color: var(--color-white1) !important;
}

/* section-5 (help) */

/* section-6 (latest-courses) */

/* section-7 (blog) */

.blog-img-wrapper::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #242a3800, #242a38cc 74.19%, #242a38);
    inset: 0 !important;
    z-index: 10 !important;
}

.read-blog-links:hover>* {
    color: var(--color-green1) !important;
}

/* footer */

.social-media-links:hover {
    color: var(--color-blue2) !important;
}

.about-site-text {
    max-width: 500px !important;
}

.quick-access-links a:hover,
.sabzlearn-copyright-link:hover {
    color: var(--color-green1) !important;
}

.contact-ways-links:hover {
    color: var(--color-blue1) !important;
    opacity: 1 !important;
}

/* auth page */

.phone-number-input::placeholder,
.email-input::placeholder,
.password-input::placeholder {
    color: var(--color-gray2) !important;
}

.submit-auth-btn:hover {
    background-color: var(--color-green2) !important;
}

.auth-input-icons {
    left: 15px !important;
}

.text-decoration-underline {
    text-decoration: underline !important;
    text-underline-offset: 3px !important;
}

.main-box {
    width: 380px !important;
}

.success-custom-alert,
.error-custom-alert {
    top: 5% !important;
    left: -100% !important;
}

.active-custom-alert {
    z-index: 999 !important;
    left: 3% !important;
}

.rotating-icon {
    animation: rotating 1s linear infinite;
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* courses page */

.courses-search-input::placeholder,
.blogs-search-input::placeholder {
    color: var(--color-gray2) !important;
}

.courses-search-icon,
.blogs-search-icon {
    top: 30% !important;
    left: 30px !important;
}

.sort-btn {
    border: 1.8px solid var(--color-black2);
}

.active-sort {
    border-color: var(--color-blue1);
    color: var(--color-blue1) !important;
}

.toggle-btn {
    width: 50px !important;
    height: 25px !important;
}

.toggle-marker {
    width: 20px !important;
    height: 20px !important;
    right: -5px !important;
    top: 50% !important;
}

.active-toggle-btn {
    background-color: var(--color-blue1) !important;
}

.active-toggle-marker {
    right: 15px !important;
}

.category-filter-slide {
    border-top: 1px solid var(--color-black5) !important;
    display: flex;
}

.courses-category-filter-checkbox {
    position: absolute !important;
    height: 0 !important;
    width: 0 !important;
    opacity: 0 !important;
}

.checkbox-marker {
    width: 17px !important;
    height: 17px !important;
}

.select-none {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
}

.active-checkbox-marker {
    background-color: var(--color-blue1) !important;
}

.bottom-sheet {
    z-index: 15 !important;
    bottom: -500px !important;
}

.bottom-sheet-icon {
    visibility: hidden !important;
    opacity: 0 !important;
}

.active-bottom-sheet-link {
    color: var(--color-green1) !important;
}

.active-bottom-sheet-icon {
    visibility: visible !important;
    opacity: 1 !important;
}

.open-bottom-sheet {
    bottom: 0 !important;
}

.filter {
    z-index: 20 !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.apply-filters-btn:hover {
    background-color: var(--color-green2) !important;
}

.filter-slide {
    display: none;
}

.open-filter {
    visibility: visible !important;
    opacity: 1 !important;
}

.page-btn:hover {
    background-color: var(--color-green2) !important;
}

.active-page-btn {
    background-color: var(--color-green1) !important;
}

/* account page */

.active-account-link {
    background-color: var(--color-green1) !important;
}

.account-aside-navbar {
    right: -100% !important;
}

.open-account-aside-navbar {
    right: 0 !important;
}

.account-overlay,
.account-logout-modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.active-account-logout-modal-overlay {
    z-index: 998 !important;
}

.active-account-overlay,
.active-account-logout-modal-overlay {
    display: block !important;
}

.account-user-profile-btn {
    background-size: cover !important;
}

.account-user-profile-box-overlay {
    background-color: #0000004d !important;
    backdrop-filter: blur(10px) !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.account-user-profile-box {
    top: 120% !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.active-account-user-profile-box-overlay,
.active-account-user-profile-box {
    visibility: visible !important;
    opacity: 1 !important;
}

.account-logout-modal {
    top: -100% !important;
    width: 400px !important;
    z-index: 999 !important;
}

.active-account-logout-modal {
    top: 20% !important;
}

svg.close-account-modal-btn:hover {
    opacity: 1 !important;
}

.account-modal-yes-btn,
.account-modal-no-btn {
    width: 100px !important;
}

.account-modal-yes-btn:hover {
    background-color: var(--color-red3) !important;
}

.account-modal-no-btn:hover {
    background-color: var(--color-green2) !important;
}

.account-notif-box {
    top: 130% !important;
    left: 0 !important;
    width: 350px !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.account-notif-box-overlay {
    background-color: #0000004d !important;
    backdrop-filter: blur(10px) !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.active-account-notif-box,
.active-account-notif-box-overlay {
    visibility: visible !important;
    opacity: 1 !important;
}

.recent-courses-width {
    width: calc(50% - 5px) !important;
}

.max-w-max-content {
    max-width: max-content !important;
}

.ticket-group:hover {
    background-color: var(--color-gray6) !important;
}

.my-courses-width {
    width: calc(25% - 16px) !important;
}

.ticket-title {
    max-width: 200px !important;
}

.account-details-input-box {
    width: calc(50% - 10px) !important;
}

.register-info-btn {
    width: 155px !important;
    height: 60px !important;
}

.register-info-btn:hover,
.change-password-btn:hover,
.add-new-ticket-btn:hover {
    background-color: var(--color-green1) !important;
}

.account-details-current-password-input::placeholder,
.add-ticket-topic::placeholder,
.add-ticket-text::placeholder,
.discount-code-input::placeholder {
    color: var(--color-gray7) !important;
}

.add-ticket-text {
    height: 250px !important;
}

.change-password-btn {
    width: 130px !important;
    height: 60px !important;
}

.account-user-profile-box-links:hover,
.account-user-profile-box-logout-btn:hover {
    background-color: var(--color-gray6) !important;
}

.department-chevron-down {
    top: 50% !important;
    left: 10px !important;
    transform: translate(50%, -50%) !important;
}

.add-new-ticket-btn {
    width: 100px !important;
    height: 45px !important;
}

.ticket-message {
    border-top-right-radius: 0 !important;
}

.admin-ticket-message {
    background-color: var(--color-blue6) !important;
    align-self: flex-end !important;
    border-top-left-radius: 0 !important;
}

/* cart page */

.see-courses-link {
    width: 300px !important;
}

/* teacher page */

.teacher-social-links {
    width: 50px !important;
    height: 50px !important;
    border-color: var(--color-green1) !important;
}

.teacher-social-links:hover,
.teacher-social-links:hover svg * {
    background-color: var(--color-green1) !important;
    fill: var(--color-white1) !important;
}

/* course page */

.add-course-to-cart-btn {
    width: 190px !important;
}

.course-breadcrumb::-webkit-scrollbar {
    display: none !important;
}

.course-breadcrumb-item::after,
.course-breadcrumb-item::before {
    position: absolute !important;
    left: 0;
    height: 2.5rem;
    width: 5px;
    background-color: var(--color-black1) !important;
    content: '';
}

.course-breadcrumb-item::after {
    top: -19px !important;
    transform: rotate(35deg) !important;
    transform-origin: top !important;
}

.course-breadcrumb-item::before {
    bottom: -19px !important;
    transform: rotate(-35deg) !important;
    transform-origin: bottom !important;
}

.course-breadcrumb-item:last-of-type::after,
.course-breadcrumb-item:last-of-type::before {
    content: none !important;
}

.course-see-teacher-profile-link {
    border-color: var(--color-green1) !important;

}

.course-see-teacher-profile-link:hover {
    background-color: var(--color-green1) !important;
    color: var(--color-white1) !important;
}

.copy-link-box {
    border: 1px dashed var(--color-blue1) !important;
}

.copy-link-btn:hover {
    transform: scale(1.1) !important;
}

.cart-courses-count {
    width: 19px !important;
    height: 19px !important;
    font-size: 10px !important;
    top: 15% !important;
    right: -30% !important;
}

.remove-course-from-cart:hover {
    color: var(--color-red1) !important;
}

.w-33 {
    width: 33.3% !important;
}

.course-info-shadow-overlay {
    content: '';
    background: linear-gradient(to bottom, #242a3800, #242a38cc 74.19%, #242a38);
    inset: 0 !important;
    z-index: 10 !important;
}

.course-episode-container:hover *:not(.course-episode) {
    color: var(--color-green1) !important;
}

.course-episode-container:hover .course-episode {
    background-color: var(--color-green1) !important;
}

.course-episode-container:not(.course-episode-container:first-of-type) {
    /* border-top: 1px solid var(--color-gray2) !important; */
    border-top: 1px solid var(--color-gray9) !important;
}

.related-courses a span {
    max-width: 370px !important;
}

.add-new-comment-btn:hover {
    background-color: var(--color-green2) !important;
}

.answer-to-comment-btn {
    border-color: var(--color-blue1) !important;
}

.answer-to-comment-btn:hover {
    background-color: var(--color-blue1) !important;
    color: var(--color-white1) !important;
}

.comment-teacher-img-box {
    border-color: var(--color-blue1) !important;
}

.comment-text {
    font-family: 'Vazir-Light' !important;
}

.comment-username,
.comment-teacher-name {
    max-width: 250px !important;
}

.course-page-remove-course-from-cart-btn {
    right: 10%;
    top: 8%;
}

.apply-discount-code-btn:hover {
    background-color: var(--color-blue2) !important;
}

.purchase-btn:hover {
    background-color: var(--color-green2) !important;
}