/* global */

@import url(./app.css);

body {
    font-family: 'Vazir', sans-serif !important;
    scroll-behavior: smooth !important;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-black5) !important;
}

body::-webkit-scrollbar-track {
    background-color: var(--color-black2) !important;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-black6) !important;
}

.text-fs-14px {
    font-size: 14px !important;
}

.text-fs-13px {
    font-size: 13px !important;
}

.text-fs-12px {
    font-size: 12px !important;
}

.text-fs-18px {
    font-size: 18px !important;
}

.opacity-70 {
    opacity: 0.7 !important;
}

.line-clamp-4 {
    -webkit-line-clamp: 4 !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.line-clamp-2 {
    -webkit-line-clamp: 2 !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.line-clamp-1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.radius-2px {
    border-radius: 2px !important;
}

.h-52px {
    height: 52px !important;
}

.h-94px {
    height: 94px !important;
}

.owl-stage {
    display: flex !important;
}

/* loading */

.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {
    box-sizing: border-box;
}

.lds-spinner {
    color: var(--color-white1) !important;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 10.2px;
    left: 36.8px;
    width: 4.4px;
    height: 12.6px;
    border-radius: 20%;
    background: currentColor;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.loading-overlay {
    background-color: var(--color-black2) !important;
    z-index: 60 !important;
    display: flex;
}

/* header */

.sub-menu {
    visibility: hidden;
    opacity: 0;
    width: 250px;
}

.sub-menu ul {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px !important;
}

.navbar-links:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    z-index: 20;
}

.navbar-links:hover,
.sub-menu-links:hover {
    color: var(--color-green1) !important;
}

.sub-menu-links a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-input::placeholder {
    color: var(--color-gray1) !important;
}

.search-input {
    font-size: 14px !important;
}

.search-icon {
    top: 30% !important;
    left: 8% !important;
}

.w-52px {
    width: 52px !important;
}

.login-signup-link:hover,
.start-learning-link:hover {
    background-color: var(--color-blue2) !important;
}

.side-navbar {
    right: -100% !important;
    z-index: 10 !important;
}

.overlay,
.bottom-sheet-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9 !important;
    display: none;
}

.open-side-navbar {
    right: 0 !important;
}

.active-overlay {
    display: block !important;
}

.deg180 {
    transform: rotate(180deg) !important;
}

.deg90 {
    transform: rotate(90deg) !important;
}

.deg0 {
    transform: rotate(0) !important;
}

.side-navbar-sub-menu {
    display: none;
}

.active-side-navbar-links {
    color: var(--color-green1) !important;
}

.blur-overlay {
    background-color: #0000004d !important;
    backdrop-filter: blur(10px) !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.active-blur-overlay {
    visibility: visible !important;
    opacity: 1 !important;
}

.cart-box {
    top: 140% !important;
    left: 0 !important;
    width: 350px !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.active-cart-box {
    visibility: visible !important;
    opacity: 1 !important;
}

.z-index-50 {
    z-index: 50 !important;
}

/* .active-user-profile-btn {
    display: inline-block !important;
} */

.user-profile-box-overlay {
    background-color: #0000004d !important;
    backdrop-filter: blur(10px) !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.user-profile-box {
    top: 120% !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.active-user-profile-box-overlay,
.active-user-profile-box {
    visibility: visible !important;
    opacity: 1 !important;
}

.disabled-elem {
    display: none !important;
}

.w-300px {
    width: 300px !important;
}

.user-profile-box-links:hover {
    background-color: var(--color-green1) !important;
}

.user-profile-box-logout-btn:hover {
    background-color: var(--color-red1) !important;
}

/* main */

/* section-1 (website-title) */

.play-btn:hover {
    background-color: var(--color-green2) !important;
}

/* section-2 (last-courses) */

.last-courses-link:hover {
    background-color: var(--color-green1) !important;
}

.last-courses-link:hover>* {
    color: var(--color-white1) !important;
}

.teacher-links:hover>* {
    color: var(--color-green1) !important;
}

/* section-3 (roadmaps) */

/* section-4 (popular-courses) */

.owl-nav {
    position: absolute !important;
    top: -25% !important;
    left: 0 !important;
}

.owl-next,
.owl-prev {
    width: 52px !important;
    height: 52px !important;
    background-color: var(--color-black1) !important;
    border-radius: 50% !important;
    color: var(--color-green1) !important;
    border: 1px solid var(--color-green1) !important;
    transition: all ease 0.3s !important;
}

.owl-prev {
    margin-left: 20px !important;
}

.owl-next:hover,
.owl-prev:hover {
    background-color: var(--color-green1) !important;
    color: var(--color-white1) !important;
}

/* section-5 (help) */

/* section-6 (latest-courses) */

/* section-7 (blog) */

.blog-img-wrapper::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #242a3800, #242a38cc 74.19%, #242a38);
    inset: 0 !important;
    z-index: 10 !important;
}

.read-blog-links:hover>* {
    color: var(--color-green1) !important;
}

/* footer */

.social-media-links:hover {
    color: var(--color-blue2) !important;
}

.about-site-text {
    max-width: 500px !important;
}

.quick-access-links a:hover,
.sabzlearn-copyright-link:hover {
    color: var(--color-green1) !important;
}

.contact-ways-links:hover {
    color: var(--color-blue1) !important;
    opacity: 1 !important;
}

/* auth page */

.phone-number-input::placeholder,
.email-input::placeholder,
.password-input::placeholder {
    color: var(--color-gray2) !important;
}

.submit-auth-btn:hover {
    background-color: var(--color-green2) !important;
}

.auth-input-icons {
    left: 15px !important;
}

.text-decoration-underline {
    text-decoration: underline !important;
    text-underline-offset: 3px !important;
}

.main-box {
    width: 380px !important;
}

.success-custom-alert,
.error-custom-alert {
    top: 5% !important;
    left: -100% !important;
}

.active-custom-alert {
    z-index: 999 !important;
    left: 3% !important;
}


/* courses page */

.courses-search-input::placeholder {
    color: var(--color-gray2) !important;
}

.courses-search-icon {
    top: 30% !important;
    left: 30px !important;
}

.sort-btn {
    border: 1.8px solid var(--color-black2);
}

.active-sort {
    border-color: var(--color-blue1);
    color: var(--color-blue1) !important;
}

.toggle-btn,
.mobile-toggle-btn {
    width: 50px !important;
    height: 25px !important;
}

.toggle-marker {
    width: 20px !important;
    height: 20px !important;
    right: -5px !important;
    top: 50% !important;
}

.active-toggle-btn {
    background-color: var(--color-blue1) !important;
}

.active-toggle-marker {
    right: 15px !important;
}

.category-filter-slide {
    border-top: 1px solid var(--color-black5) !important;
    display: flex;
}

.courses-category-filter-checkbox {
    position: absolute !important;
    height: 0 !important;
    width: 0 !important;
    opacity: 0 !important;
}

.checkbox-marker {
    width: 17px !important;
    height: 17px !important;
}

.select-none {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
}

.active-checkbox-marker {
    background-color: var(--color-blue1) !important;
}

.bottom-sheet {
    z-index: 15 !important;
    bottom: -500px !important;
}

.bottom-sheet-icon {
    visibility: hidden !important;
    opacity: 0 !important;
}

.active-bottom-sheet-link {
    color: var(--color-green1) !important;
}

.active-bottom-sheet-icon {
    visibility: visible !important;
    opacity: 1 !important;
}

.open-bottom-sheet {
    bottom: 0 !important;
}

.filter {
    z-index: 20 !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.apply-filters-btn:hover {
    background-color: var(--color-green2) !important;
}

.filter-slide {
    display: none;
}

.open-filter {
    visibility: visible !important;
    opacity: 1 !important;
}

.page-btn:hover {
    background-color: var(--color-green2) !important;
}

.active-page-btn {
    background-color: var(--color-green1) !important;
}